body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  font-family: 'Oswald', Georgia, 'Times New Roman', Times, serif;
}

header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}

.authorship {
  margin-bottom: 15px;
}

h1 {
  color: #ffce31;
  font-size: 40px;
  margin: 20px auto 10px;
}

h2 {
  color: #003366;
  margin: 0 auto 10px;
}

h3 {
  color: #003366;
  font-size: 22.5px;
  margin: 0 auto 15px;
}

h4 {
  color: #003366;
  font-size: 20px;
  margin: 0 auto 5px;
}

h5 {
  font-size: 18px;
  margin: 0 auto 5px;
}

h6 {
  opacity: 50%;
  margin: 0;
}

p {
  margin: 0;
}

.download-section {
  margin: 20px;
}

.download-explanation-container {
  color: #003366;
  margin: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

.tool {
  margin: 0 auto 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5%;
  padding: 20px;
  width: 80%;
  background-color: #f3f3f3;
}

.tool-header {
  margin-bottom: 30px;
}

.status {
  opacity: 50%;
  font-size: 20px;
  margin-bottom: 10px;
}

.icmp-button-container {
  margin: 30px auto;
}

.tool-body {
  text-align: left;
}

.tool-body-child {
  margin: 30px 0;
  text-align: center;
}

.configure-test {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  background-color: #c5c4c4;
  padding: 15px;
  border-radius: 10px;
}

.configure-test h5 {
  text-align: center;
}

.configuration-elements {
  display: flex;
  flex-direction: column;
}

.configuration-element {
  line-height: 1.5;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.required:after {
  content: ' *';
  color: red;
}

.button-container {
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: #003366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
}

.button:hover {
  background-color: #002346;
}

.button:active {
  color: #ffce31;
  background-color: #003366;
}

.yellow-button {
  background-color: #ffce31;
  color: #002346;
}

.yellow-button:hover {
  background-color: #ecc02e;
}

.yellow-button:active {
  color: white;
  background-color: #ffce31;
}

.removed {
  display: none;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: #ff3300;
}

.results-drilldown {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.results-drilldown p {
  line-height: 1.5;
  padding: 5px;
  font-size: 20px;
}

.results-drilldown span {
  font-weight: bold;
}

.tool-footer {
  text-align: center;
  line-height: 1.5;
}

.csv-export-container {
  margin: 15px;
}

.pop-up {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.csv-check {
  padding: 5%;
  background-color: #6f6e6e;
  border-radius: 10px;
  border: 2px #ffce31 solid;
}

.csv-check p {
  color: #ffce31;
  font-size: 20px;
}

.csv-check-buttons {
  display: flex;
  flex-direction: column;
}

.csv-check-buttons button {
  border-radius: 0;
  margin: 0.5% 0;
}

#cancelRefresh {
  background-color: #cc3333;
}

#cancelRefresh:hover {
  background-color: #ff3333;
}

#cancelRefresh:active {
  color: black;
  background-color: #cc3333;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  animation: dot-loading 1s ease-in-out infinite;
  background-color: white;
}

@keyframes dot-loading {
  0%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(0);
  }
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}
