body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  font-family: 'Oswald', Georgia, 'Times New Roman', Times, serif;
}

header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}

.authorship {
  margin-bottom: 15px;
}

h1 {
  color: #ffce31;
  font-size: 40px;
  margin: 20px auto 10px;
}

h2 {
  color: #003366;
  margin: 0 auto 10px;
}

h3 {
  color: #ffce31;
  font-size: 22.5px;
  margin: 0 auto 15px;
}

h4 {
  color: #003366;
  font-size: 20px;
  margin: 0 auto 5px;
}

h5 {
  font-size: 18px;
  margin: 0 auto 5px;
}

h6 {
  opacity: 50%;
  margin: 0;
}

p {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

.tool {
  margin: 0 auto 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5%;
  padding: 20px;
  width: 80%;
  background-color: #f3f3f3;
}

.tool-header {
  margin-bottom: 30px;
}

.tool-status {
  opacity: 50%;
  font-size: 20px;
}

.tool-body {
  text-align: left;
}

.tool-body-child {
  margin: 30px 0;
  text-align: center;
}

.configure-test {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  background-color: #c5c4c4;
  padding: 15px;
  border-radius: 10px;
}

.configure-test h5 {
  text-align: center;
}

.configuration-elements {
  display: flex;
  flex-direction: column;
}

.configuration-element {
  line-height: 1.5;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.required:after {
  content: ' *';
  color: red;
}

.button-container {
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: #003366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}

.button:hover {
  background-color: #002346;
}

.button:active {
  color: #ffce31;
  background-color: #003366;
}

.hidden {
  display: none;
}

.results-drilldown {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.results-drilldown p {
  line-height: 1.5;
  padding: 5px;
  font-size: 20px;
}

.tool-footer {
  text-align: center;
  line-height: 1.5;
}

.csv-export-container {
  margin: 15px;
}

.csv-export-container .button {
  background-color: #ffce31;
  color: #002346;
}

.csv-export-container .button:hover {
  background-color: #ecc02e;
}

.csv-export-container .button:active {
  color: white;
  background-color: #ffce31;
}
